@import url("null.css");


* {
    box-sizing: border-box;
}

.App, #root, body{
    display: flex;
    flex: 1;
    background-color: #f7e018;
    flex-direction: row;   
    justify-content: flex-end;
    user-select: none;
}

body::-webkit-scrollbar{
    width: 0;
}

.logo{
    position: absolute;
    border: none;
    align-self: flex-end;
    justify-self: flex-end;
    width: 25em;

}

.blue{
    color: #569cd6;
}

.bracket {
    color: #f7e018;
}

.letter{
    color: #24bfa5;
}

.wrap {
    overflow-y: auto;
    z-index: 50;
    align-self: center;
    justify-self: center;
    background-color: #fff;
    padding: 30px 45px;
    width: 900px;
    transition-duration: 0.4s;
    max-height: 670px;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}

.wrap::-webkit-scrollbar{
    background: none;
    width: 5px;
    opacity: 0.45;
}
.wrap::-webkit-scrollbar-thumb{
    background: #938686;
    opacity: 0.45;

}

.container{
    z-index: 40;
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        width: 100%;
        height: 100%;
        max-height: none;
    }
}